<a href="https://colab.research.google.com/github/mbk-dev/okama/blob/master/examples/08%20financial%20database.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

You can run the code examples in [Google Colab](https://colab.research.google.com/github/mbk-dev/okama/blob/master/examples/08%20financial%20database.ipynb).

**To install the package:**

In [ ]:
!pip install okama

import okama and matplotlib packages ...

In [1]:
import okama as ok

Financial Database of *okama* has stock market securities, currencies, commodities and indexes as well as macroeconomic indicators  historical data.

### Stock markets

- Stocks and ETF for main world markets
- Mutual funds
- Commodities
- Stock indexes

### Currencies

- FX currencies
- Crypto currencies
- Central bank exchange rates

### Macroeconomic indicators

- Inflation (USA, United Kingdom, European Union, Israel, Russia etc.)
- Central bank rates

### Other historical data

- Real estate prices
- Top bank rates

___

## Search the Database

To search for a ticker or security name use `ok.search` method.

In [2]:
ok.search("tesla")  # it's not case-sensitive

,symbol,ticker,name,country,exchange,currency,type,isin
0,3LTS.LSE,3LTS,GraniteShares 3x Long Tesla Daily ETP,UK,LSE,USD,ETF,
1,mTSLA-USD.CC,mTSLA-USD,Mirrored Tesla,Unknown,CC,USD,Currency,
2,TES-USD.CC,TES-USD,TeslaCoin,Unknown,CC,USD,Currency,
3,TSLA-USD.CC,TSLA-USD,Tesla,Unknown,CC,USD,Currency,
4,TL0.XFRA,TL0,Tesla Inc,Germany,XFRA,EUR,Common Stock,US88160R1014
5,TSLA.US,TSLA,Tesla Inc,USA,NASDAQ,USD,Common Stock,US88160R1014
6,TXLZF.US,TXLZF,Tesla Exploration Ltd,USA,PINK,USD,Common Stock,

It is possible to search for ISIN with the same method.

In [3]:
ok.search("US78462F103")

,symbol,ticker,name,country,exchange,currency,type,isin
0,SPY.US,SPY,SPDR S&P 500 ETF Trust,USA,NYSE ARCA,USD,ETF,US78462F1030

## Namespaces: Financial Database sections

Namespase is a set of characters after the period in the ticker (SPY**.US**).

Namespaces are based on MIC (Market Identifier Codes) and okama own code systems for macro parameters.

In [4]:
# available namespaces
ok.namespaces

{'CBR': 'Central Banks official currency exchange rates',
 'CC': 'Cryptocurrency pairs with USD',
 'COMM': 'Commodities prices',
 'FX': 'FOREX currency market',
 'INDX': 'Indexes',
 'INFL': 'Inflation',
 'LSE': 'London Stock Exchange',
 'MOEX': 'Moscow Exchange',
 'PIF': 'Russian mutual funds',
 'RATE': 'Bank deposit rates',
 'RE': 'Real estate prices',
 'US': 'US Stock Exchanges and mutual funds',
 'XAMS': 'Euronext Amsterdam',
 'XETR': 'XETRA Exchange',
 'XFRA': 'Frankfurt Stock Exchange',
 'XSTU': 'Stuttgart Exchange',
 'XTAE': 'Tel Aviv Stock Exchange (TASE)'}

It is possible to request all symbols in a sertain namespace with `ok.symbols_in_namespace`:

In [2]:
# available symbols in namespace
ok.symbols_in_namespace("INDX")  # all stock indexes

,symbol,ticker,name,country,exchange,currency,type,isin
0,000906.INDX,000906,China Securities 800,Unknown,INDX,USD,INDEX,
1,0O7N.INDX,0O7N,Scale All Share GR EUR,Germany,INDX,EUR,INDEX,
2,3LHE.INDX,3LHE,ESTX 50 Corporate Bond TR,Greece,INDX,EUR,INDEX,
3,5SP2550.INDX,5SP2550,S&P 500 Retailing (Industry Group),USA,INDX,USD,INDEX,
4,990100.INDX,990100,MSCI International World Index Price,Unknown,INDX,USD,INDEX,
...,...,...,...,...,...,...,...,...
1509,XU100.INDX,XU100,BIST 100,Turkey,INDX,TRY,INDEX,
1510,XUSIN.INDX,XUSIN,BIST Industrials,Turkey,INDX,TRY,INDEX,
1511,XUSRD.INDX,XUSRD,BIST Sustainability,Turkey,INDEX,TRY,INDEX,
1512,XUTEK.INDX,XUTEK,BIST Technology,Turkey,INDEX,TRY,INDEX,
1513,YMU0.INDX,YMU0,E-mini Dow $5 Future Sept 20,USA,INDX,USD,Futures,

## Advanced search

To limit the search use `namespace` argument:

In [6]:
ok.search("AstraZeneca", namespace="LSE")

,symbol,ticker,name,country,exchange,currency,type,isin
25,0A4J.LSE,0A4J,AstraZeneca PLC ADR,UK,LSE,USD,Common Stock,
2641,AZN.LSE,AZN,AstraZeneca PLC,UK,LSE,GBX,Common Stock,

The default response format is DataFrame but it's possible to have it in json with `response_format`.

In [7]:
ok.search("Pfizer", namespace="US", response_format="json")

'[{"symbol":"PFE.US","ticker":"PFE","name":"Pfizer Inc","country":"USA","exchange":"NYSE","currency":"USD","type":"Common Stock","isin":"US7170811035"}]'

DataFrame obtained with `symbols_in_namespace` can be used for more complex queries.
For instance, if it's necessary find only a certain type of securities. Let's get a list of ETF in Frankfurt Stock Exchange.

In [8]:
sb = ok.symbols_in_namespace("XFRA")
sb[sb["type"] == "ETF"]

,symbol,ticker,name,country,exchange,currency,type,isin
0,00XJ.XFRA,00XJ,ETFS EUR Dly Hdgd Agri DJ-UBS AD ETC,Germany,XFRA,EUR,ETF,DE000A1NZLJ4
1,00XK.XFRA,00XK,ETFS EUR Dly Hdgd All Cmdt DJ-UBS AD ETC,Germany,XFRA,EUR,ETF,DE000A1NZLK2
2,00XQ.XFRA,00XQ,ETFS EUR Dly Hdgd Prec Mtl DJ-UBS AD ETC,Germany,XFRA,EUR,ETF,DE000A1NZLQ9
135,0P00018O55.XFRA,0P00018O55,iShares Euro Government Inflation-Linked Bond ...,Germany,XFRA,EUR,ETF,IE00B4WXT741
139,0P0001HHBA.XFRA,0P0001HHBA,iShares ESG Screened Euro Corporate Bond Index...,Germany,XFRA,EUR,ETF,IE00BJP12Y80
...,...,...,...,...,...,...,...,...
9171,ZPRU.XFRA,ZPRU,SSgA SPDR ETFs Europe II Public Limited Compan...,Germany,XFRA,EUR,ETF,IE00BSPLC520
9172,ZPRV.XFRA,ZPRV,SSgA SPDR ETFs Europe II Public Limited Compan...,Germany,XFRA,EUR,ETF,IE00BSPLC413
9173,ZPRW.XFRA,ZPRW,SSgA SPDR ETFs Europe II Public Limited Compan...,Germany,XFRA,EUR,ETF,IE00BSPLC306
9174,ZPRX.XFRA,ZPRX,SSgA SPDR ETFs Europe II Public Limited Compan...,Germany,XFRA,EUR,ETF,IE00BSPLC298
9181,ZSRI.XFRA,ZSRI,BNP Paribas Easy - MSCI Europe SRI S-Series 5%...,Germany,XFRA,EUR,ETF,LU1753045415